@charset "UTF-8";
body { color: #343434; background: #fcfcfc; }

h1, h2, h3, h4, h5, h6 { color: #2f2f2f; }

a:link, a:visited { color: #476887; }
a:hover { color: #2b4966; text-decoration: none; }

::-webkit-input-placeholder { color: #666666; }

:-moz-placeholder { color: #666666; }

::-moz-placeholder { color: #666666; }

:-ms-input-placeholder { color: #666666; }

.form-item label { color: #666666; }

#page-title { color: #5a6f82; }

.description { font-size: 11px; color: #777777; }

.zone-user-wrapper { background: #8195a8; border-bottom: 1px solid #5a6f82; color: #fffffd; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
.zone-user-wrapper ul.menu li { border-right: 1px solid #9faebd; border-left: 1px solid #647c91; }
.zone-user-wrapper ul.menu li a { color: #fffffd; }
.zone-user-wrapper ul.menu li a.active-trail, .zone-user-wrapper ul.menu li a.active, .zone-user-wrapper ul.menu li a:hover { background: #5a6f82; }

.branding-data .site-name-slogan .site-name { color: #333333; }
.branding-data .site-name-slogan .site-name a { color: #333333; }
.branding-data .site-name-slogan .site-name a:hover { color: #333333; }
.branding-data .site-slogan { color: #333333; }

#zone-menu-wrapper { box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); background: #fcfcfc; }

.navigation ul.links li a { color: #476887; }
.navigation ul.links li a:hover, .navigation ul.links li a.active, .navigation ul.links li a.active-trail { background: #5a6f82; color: #fffffd; }
.navigation ul.links.main-menu { border-bottom: 3px solid #5a6f82; }
.navigation ul.links.secondary-menu { border-bottom: 1px solid #404e5b; background: #5a6f82; }
.navigation ul.links.secondary-menu li { border-left: 1px solid #72899d; border-right: 1px solid #455564; }
.navigation ul.links.secondary-menu li a { color: #fffffd; }
.navigation ul.links.secondary-menu li a:hover, .navigation ul.links.secondary-menu li a.active, .navigation ul.links.secondary-menu li a.active-trail { background: #404e5b; }

footer.section-footer { background-color: #cdd4da; border-top: 1px solid #cdd4da; color: #4e4e4e; }
footer.section-footer a { color: #66819b; }

.section-content { background: #fcfcfc; }

.section-content .block { border: 1px solid #cdd4da; background-color: #cdd4da; }
.section-content .block .block-title { color: #fffffd; background: #5a6f82; z-index: 2; }
.section-content .block .block-title:after { border-color: #8195a8; }
.section-content .block .block-title:hover { background: #404e5b; }

.view .view-content > h3 { color: #333333; }
.view .view-content .views-row { border-bottom: 1px solid #cdd4da; }

#region-content .view .view-content .views-row { border-bottom: 1px solid #cdd4da; }

a.more-link, .more-link a { box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); }
a.more-link:link, .more-link a:link { color: #fffffd; background: #5a6f82; }
a.more-link:visited, .more-link a:visited { color: #fffffd; }
a.more-link.active, a.more-link:hover, .more-link a.active, .more-link a:hover { background: #404e5b; color: #fffffd; }

#page .block.block-recent-stories-block-bigslides .block-title { color: #5a6f82; }
#page .block.block-recent-stories-block-bigslides .block-title:hover { color: #5a6f82; }

.view-display-id-block_bigslides .views-field-title a, .view-display-id-block_bigslides .views-field-name a { color: #476887 !important; }

.node .field-type-taxonomy-term-reference { height: 100%; overflow: hidden; }
.node .field-type-taxonomy-term-reference .field-item a { color: white; background: #5a6f82; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); }
.node .field-type-taxonomy-term-reference .field-item a.active, .node .field-type-taxonomy-term-reference .field-item a:hover { background: #404e5b; color: white; }

ul.primary li a { color: white; background: #5a6f82; border-bottom: 1px solid #404e5b; }
ul.primary li a.active, ul.primary li a:hover { border-color: #404e5b; background: #404e5b; color: white; }

.node-links ul li a, .comment-links ul li a { color: white; background: #5a6f82; border-bottom: 1px solid #404e5b; }
.node-links ul li a:hover, .comment-links ul li a:hover { border-color: #404e5b; background: #404e5b; color: white; }

.fullcalendar .fc-header .fc-header-title { color: #476887; }
.fullcalendar .fc-header .fc-header-title h2 { color: #476887; }
.fullcalendar .fc-content table { border: 1px solid #cdd4da; }
.fullcalendar .fc-content table tr td, .fullcalendar .fc-content table tr th { border: 1px solid #cdd4da !important; }
.fullcalendar .fc-content table tr th { color: white; background: #5a6f82 !important; border-bottom: 1px solid #404e5b !important; }
.fullcalendar .fc-content table tr td.fc-other-month { color: #777777; }
.fullcalendar .fc-content table tr td .fc-day-number { color: #666666; }
.fullcalendar .fc-content table tr td.fc-today { background: #cdd4da !important; }
.fullcalendar .fc-button { color: white; background: #5a6f82; border-bottom: 1px solid #404e5b; }
.fullcalendar .fc-button:hover { border-color: #404e5b; background: #404e5b; color: white; }
.fullcalendar .fc-button.ui-state-active { background: #404e5b; }
.fullcalendar .ui-icon.ui-icon-circle-triangle-e { border-left: 6px solid white; }
.fullcalendar .ui-icon.ui-icon-circle-triangle-w { border-right: 6px solid white; }
.fullcalendar a.fc-event { color: white; background: #5a6f82; border-bottom: 1px solid #404e5b; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); }
.fullcalendar a.fc-event:hover { border-color: #404e5b; background: #404e5b; color: white; }

textarea, select, input[type="file"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { border: 1px solid #cdd4da; background-color: #fcfcfc; color: #343434; }
textarea:focus, select:focus, input[type="file"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus { border-color: #5a6f82; }

button, input[type="reset"], input[type="submit"], input[type="button"] { color: #fffffd; background: #5a6f82; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); }
button.active, button:hover, input[type="reset"].active, input[type="reset"]:hover, input[type="submit"].active, input[type="submit"]:hover, input[type="button"].active, input[type="button"]:hover { background: #404e5b; color: #fffffd; }

.block-bg-pagebg .section-content article.node-teaser, .block-bg-pagebg .section-content .block, .section-content .block.block-bg-pagebg, .block-bg-pagebg .section-footer, .section-footer.block-bg-pagebg { background-color: #fcfcfc; }
