body { color: #343434; background: #fcfcfc; }

h1, h2, h3, h4, h5, h6 { color: #2f2f2f; }

body a:link, body a:visited { color: #476887; }
body a:hover, body a:active { color: #2b4966; }

::-webkit-input-placeholder { color: #666666; }

:-moz-placeholder { color: #666666; }

::-moz-placeholder { color: #666666; }

:-ms-input-placeholder { color: #666666; }

.form-item label { color: #666666; }

.title { color: #476887; }

.description { color: #777777; }

.zone-user-wrapper { background-color: #5a6f82; border-color: #72899d #72899d #455564 #455564; color: #fdfdfd; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

.zone-user-wrapper ul { background-color: #5a6f82; border-color: #5a6f82 #455564 #5a6f82 #72899d !important; padding-left: 0; padding-right: 0; }
.zone-user-wrapper ul > li { background-color: #5a6f82; border-color: #72899d #72899d #455564 #455564; color: #fdfdfd; }
.zone-user-wrapper ul > li.active-trail, .zone-user-wrapper ul > li.active, .zone-user-wrapper ul > li:hover, .zone-user-wrapper ul > li:active { background-color: #455564; }
.zone-user-wrapper ul > li > a:link, .zone-user-wrapper ul > li > a:visited, .zone-user-wrapper ul > li > a:hover, .zone-user-wrapper ul > li > a:active { color: #fdfdfd; }
.zone-user-wrapper ul > li > a.active, .zone-user-wrapper ul > li > a.active-trail, .zone-user-wrapper ul > li > a:hover, .zone-user-wrapper ul > li > a:active { background-color: #455564; }

.site-name-slogan { color: #343434; }
.site-name-slogan a:link, .site-name-slogan a:visited, .site-name-slogan a:hover, .site-name-slogan a:active { color: #343434; }

.zone-menu-wrapper { box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); background: #fcfcfc; }

.navigation ul.links li a { color: #476887; }
.navigation ul.links li a:hover, .navigation ul.links li a.active, .navigation ul.links li a.active-trail { background: #72899d; color: #fdfdfd; }
.navigation ul.links.main-menu { border-bottom: 3px solid #72899d; }
.navigation ul.links.secondary-menu { background-color: #5a6f82; border-color: #5a6f82 #455564 #5a6f82 #72899d !important; padding-left: 0; padding-right: 0; }
.navigation ul.links.secondary-menu > li { background-color: #5a6f82; border-color: #72899d #72899d #455564 #455564; color: #fdfdfd; }
.navigation ul.links.secondary-menu > li.active-trail, .navigation ul.links.secondary-menu > li.active, .navigation ul.links.secondary-menu > li:hover, .navigation ul.links.secondary-menu > li:active { background-color: #455564; }
.navigation ul.links.secondary-menu > li > a:link, .navigation ul.links.secondary-menu > li > a:visited, .navigation ul.links.secondary-menu > li > a:hover, .navigation ul.links.secondary-menu > li > a:active { color: #fdfdfd; }
.navigation ul.links.secondary-menu > li > a.active, .navigation ul.links.secondary-menu > li > a.active-trail, .navigation ul.links.secondary-menu > li > a:hover, .navigation ul.links.secondary-menu > li > a:active { background-color: #455564; }

footer.section-footer { background-color: #cdd4da; border-top: 1px solid #cdd4da; color: #4e4e4e; }
footer.section-footer a { color: #66819b; }
footer.section-footer a:hover, footer.section-footer a.active, footer.section-footer a.active-trail { color: #476887; }

.section-content { background: #fcfcfc; }

.section-content .block { border-color: #cdd4da; background-color: #cdd4da; }
.section-content .block .block-title { color: #fcfcfc; background: #5a6f82; z-index: 2; }
.section-content .block .block-title:after { border-right: 5px solid #72899d !important; }

.view .view-content > h3 { color: #343434; }
.view .view-content .views-row { border-bottom: 1px solid #cdd4da; }

.region-content .view .view-content .views-row { border-bottom: 1px solid #cdd4da; }

a.more-link, .more-link a { color: #fdfdfd; background-color: #5a6f82; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); }
a.more-link:link, .more-link a:link { color: #fdfdfd; background-color: #5a6f82; }
a.more-link:visited, .more-link a:visited { color: #fdfdfd; background-color: #5a6f82; }
a.more-link.active, a.more-link:hover, a.more-link:active, .more-link a.active, .more-link a:hover, .more-link a:active { background-color: #455564; border-color: #455564; color: #fdfdfd; }

.page .block.block-recent-stories-block-bigslides .block-title { color: #476887; }
.page .block.block-recent-stories-block-bigslides .block-title:hover { color: #476887; }

.view-display-id-block_bigslides .views-field-title a, .view-display-id-block_bigslides .views-field-name a { color: #476887 !important; }
.view-display-id-block_bigslides .views-field-title a:hover, .view-display-id-block_bigslides .views-field-name a:hover { color: #2b4966 !important; }

.node .field-type-taxonomy-term-reference { height: 100%; overflow: hidden; }
.node .field-type-taxonomy-term-reference a { color: #fdfdfd; background-color: #5a6f82; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); }
.node .field-type-taxonomy-term-reference a:link { color: #fdfdfd; background-color: #5a6f82; }
.node .field-type-taxonomy-term-reference a:visited { color: #fdfdfd; background-color: #5a6f82; }
.node .field-type-taxonomy-term-reference a.active, .node .field-type-taxonomy-term-reference a:hover, .node .field-type-taxonomy-term-reference a:active { background-color: #455564; border-color: #455564; color: #fdfdfd; }

ul.primary li a { color: #fdfdfd; background-color: #5a6f82; }
ul.primary li a:link { color: #fdfdfd; background-color: #5a6f82; }
ul.primary li a:visited { color: #fdfdfd; background-color: #5a6f82; }
ul.primary li a.active, ul.primary li a:hover, ul.primary li a:active { background-color: #455564; border-color: #455564; color: #fdfdfd; }

.node-links ul li a, .comment-links ul li a { color: #fdfdfd; background-color: #5a6f82; }
.node-links ul li a:link, .comment-links ul li a:link { color: #fdfdfd; background-color: #5a6f82; }
.node-links ul li a:visited, .comment-links ul li a:visited { color: #fdfdfd; background-color: #5a6f82; }
.node-links ul li a.active, .node-links ul li a:hover, .node-links ul li a:active, .comment-links ul li a.active, .comment-links ul li a:hover, .comment-links ul li a:active { background-color: #455564; border-color: #455564; color: #fdfdfd; }

.fullcalendar .fc-header-title { color: #5a6f82; }
.fullcalendar .fc-header-title h2 { color: #5a6f82; }
.fullcalendar .fc-content table { border: 1px solid #cdd4da; background-color: #cdd4da; }
.fullcalendar .fc-content table tr td, .fullcalendar .fc-content table tr th { border: 1px solid #cdd4da !important; }
.fullcalendar .fc-content table tr th { color: #fdfdfd; background: #5a6f82; border-bottom-color: #455564 !important; }
.fullcalendar .fc-content table tr td.fc-other-month { color: #b3b3b3; }
.fullcalendar .fc-content table tr td .fc-day-number { color: #666666; }
.fullcalendar .fc-content table tr td.fc-today { background-color: #666666 !important; }
.fullcalendar .fc-button { color: #fdfdfd; background-color: #5a6f82; background-image: none; }
.fullcalendar .fc-button:link { color: #fdfdfd; background-color: #5a6f82; }
.fullcalendar .fc-button:visited { color: #fdfdfd; background-color: #5a6f82; }
.fullcalendar .fc-button.active, .fullcalendar .fc-button:hover, .fullcalendar .fc-button:active { background-color: #455564; border-color: #455564; color: #fdfdfd; }
.fullcalendar .fc-button.ui-state-active { background: #455564; }
.fullcalendar .ui-icon.ui-icon-circle-triangle-e { border-left: 6px solid white; }
.fullcalendar .ui-icon.ui-icon-circle-triangle-w { border-right: 6px solid white; }
.fullcalendar a.fc-event { color: #fdfdfd; background-color: #5a6f82; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); }
.fullcalendar a.fc-event:link { color: #fdfdfd; background-color: #5a6f82; }
.fullcalendar a.fc-event:visited { color: #fdfdfd; background-color: #5a6f82; }
.fullcalendar a.fc-event.active, .fullcalendar a.fc-event:hover, .fullcalendar a.fc-event:active { background-color: #455564; border-color: #455564; color: #fdfdfd; }
.fullcalendar div.fc-event.bahaical { color: #b3b3b3; }

textarea, select, input[type="file"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { border: 1px solid #cdd4da; background-color: #fcfcfc; color: #343434; }
textarea:focus, select:focus, input[type="file"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus { border-color: #5a6f82; }

button, input[type="reset"], input[type="submit"], input[type="button"] { color: #fdfdfd !important; background-color: #5a6f82 !important; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); }
button.active, button:hover, input[type="reset"].active, input[type="reset"]:hover, input[type="submit"].active, input[type="submit"]:hover, input[type="button"].active, input[type="button"]:hover { background-color: #455564 !important; color: #fdfdfd !important; }

.block-bg-pagebg .section-content article.node-teaser, .block-bg-pagebg .section-content .block, .section-content .block.block-bg-pagebg, .block-bg-pagebg .section-footer, .section-footer.block-bg-pagebg { background-color: #fcfcfc; }
