.branding-data { padding: 40px 0; }

.site-name-slogan { font-size: 100%; }

.logo-img img { max-width: none; }

.view-display-id-block_bigslides .views-field-name a, .view-display-id-block_bigslides .views-field-title a { font-size: 200%; }
