/* Document   : preview Created on : Sep 2, 2013, 2:27:01 PM Author     : david Description: This stylesheet is for the preview page when modifying theme settings.
*/
#color_scheme_form .color-form #placeholder { position: static; }
#color_scheme_form h2 { display: none; }
#color_scheme_form #preview h2 { display: inherit; }
#color_scheme_form #palette .form-item { width: 28em; height: 1em; margin: 0; position: relative; }
#color_scheme_form #palette .form-item label { width: 13em; font-size: 84%; }
#color_scheme_form #preview { border: 10px solid grey; position: absolute; top: 0; left: 260px; width: 480px; overflow: hidden; font-size: 90%; }

#preview .section { padding: 2px 18px; }

#preview-user-menu { list-style-type: none; list-style-image: none; text-align: right; font-size: 90%; }
#preview-user-menu > li { list-style-type: none; list-style-image: none; }

#preview-main-menu { list-style-type: none; list-style-image: none; }
#preview-main-menu > li { list-style-type: none; list-style-image: none; }

#preview-sidebar { float: right; width: 180px; margin-left: 18px; }

#preview .block { padding: 6px 8px; margin-bottom: 9px; border: 1px solid; }

#preview .section-footer { border-top: 1px solid; }

.block, .section-footer { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6fwYAAtMBznRijrsAAAAASUVORK5CYII="); }
