.page-options-inset-header .zone-user-wrapper, .page-options-inset-header .zone-menu-wrapper { -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

.page-options-shadowed-page .section-content { padding-top: 0; }
.page-options-shadowed-page.main-menu-block .section-content, .page-options-shadowed-page.main-menu-overlay .section-content { padding-top: 1.25em; }
.page-options-shadowed-page .zone-content { -webkit-box-shadow: 0 0 12px; -moz-box-shadow: 0 0 12px; box-shadow: 0 0 12px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; box-sizing: content-box; padding: 36px 9px 15px; margin-bottom: 30px; }

.main-block-no-styling .section-content ul.primary { border-bottom-width: 1px; border-bottom-style: solid; }
.main-block-no-styling .section-content .block.block-system-main { background: transparent; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; padding-top: 5px; }
