// Global Styles
@import "compass/css3";

// Base Styles
// ---------------------------------------------------------------------------------------------------------------------
body {
  @include text;
  font-size: $baseFontSize;
  line-height: em(32px);
  height   : 100%;
  position : relative;
  min-width: 300px;
}

html {
  margin  : 0;
  padding : 0;
  width   : 100%;
  height  : auto;
  min-height : 100%;
}

// Text Styles
// ---------------------------------------------------------------------------------------------------------------------
body {
  h1, h2, h3, h4, h5, h6 {
    @include title;
    font-weight: bold;
    line-height: normal;
    margin-bottom: em(10px);
    margin-top: 0;
    letter-spacing: 0;
  }

  h1 {
    font-size: em(32px);
    font-weight: bold;
  }

  h2 {
    font-size: em(24px);
    font-weight: bold;
  }

  h3 {
    font-size: em(18px);
    font-weight: bold;
  }

  h4 {
    font-size: em(18px);
    font-weight: normal;
  }

  h5 {
    font-size: em(18px);
    font-weight: normal;
  }

  h6 {
    font-size: em(18px);
    font-weight: normal;
  }

  .title {
    font-size: em(32px);
    @include title;
    //color: $color_main_color;
    font-weight: bold;
    margin-bottom: em(15px);
  }
  .pane-title {
    margin: 0;
    font-size: em(24px);
  }

  // links
  a {
    @include transition(all, 0.3s);
    font-weight: bold;
    &:link, &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }

  // Images
  img {
    @include max-width;
  }

  // Paragraphs
  p {
    margin: 0 0 10px 0;
  }

  // Lists
  ul, ol {
    margin-bottom: em(15px);
    margin-top: em(15px);
    padding-top: 0;
    padding-left: em(15px);
    li {
      line-height: em(19px);
      padding: 0;
      margin: 0;
    }
  }

  .node ol, .node ul {
    padding-left: em(15px);
  }

  ul ul,
  ol ol {
    padding-top: 0;
  }

  // Tables

  table {
    background: none;
    border: none;
    tr, td, th {
      border: none !important;
      background: none !important;
    }
  }




  .form-item {
    margin-top: em(10px);
    margin-bottom: em(10px);
    clear: both;
    label {
      font-weight: normal;
      padding-bottom: 0;
    }
  }

  .form-actions {
    margin-top: em(20px);
    margin-bottom: 0;
    clear: both;
  }

  .form-item .description {
    font-size: em(11px);
    line-height: normal;
  }

  // Tabs
  //ul.primary {
  //  padding: 0;
  //  margin: 20px 0 20px 0;
  //  border: none !important;
  //  li {
  //    margin-right: 20px;
  //    border: none !important;
  //    a {
  //      @include tab;
  //      margin-right: 0;
  //      border: none !important;
  //    }
  //  }
  //}
}

