// Variables for DPW

$color_white: #fff;
$color_black: #333;
$color_grey: #666;
$color_lightgrey: #777;

// Adjustable colors

// NOTE: some colors can be altered by using sass functions within colors.scss 
// (lighten, darken, etc.) - these colors, indicated below, will be adjusted
// accordingly by color module when the theme is configured.

$color_bg: #fcfcfc;
$color_border: #cdd4da;

// Text
$color_text: #343434;                        // can be altered for text elements
$color_text_highlight: #fffffd;

// Links
$color_link: #476887;                         // can be altered for <a> elements

$color_main_color: #5a6f82;             // can be altered for all other elements
$color_secondary_color: #404e5b;

// Titles
$color_title: #2f2f2f;
