// Variables

$baseFontSize: 13px;

$color_link: #476887;
$color_text: #343434;
$color_base: #5a6f82;


// colors
$color_white: #fff;
$color_black: #333;
$color_grey: #666;
$color_lightgrey: #777;

$color_bg: #fcfcfc;

$color_block_border: #cdd4da;

$color_main_menu: #7d8e9c;
$color_main_menu_h: #fdfdfd;

// Footer
$color_footer_bg: #f6f6f6;
$color_footer_border: #d3d8dc;
$color_footer_link: #476887;

// Titles
$color_title: #2f2f2f;

$color_block_title: #fffffd;

// Inputs
$color_input_border: #cdd4db;
$color_input_bg: #fffffd;
