@charset "UTF-8";

// Colors file. All colors are included here
// ---------------------------------------------------------------------------------------------------------------------
@import "compass/css3";
@import "compass/typography";

@import "mixin";

// DRUPAL BASE COLORS

// NOTE: some colors can be altered by using sass functions within colors.scss 
// (lighten, darken, etc.) - these colors, indicated below, will be adjusted
// accordingly by color module when the theme is configured.
$color_link: #476887;
$color_text: #343434;
$color_base: #5a6f82;

// OTHER CONFIGURABLE COLORS
$color_bg: #fcfcfc;
$color_block_border: #cdd4da;

$color_text_highlight: #fdfdfd;

$color_title: #2f2f2f;


// NON-CONFIGURABLE COLORS
$color_white: #fff;
$color_black: #333;
$color_grey: #666;
$color_lightgrey: #777;


// CALCULATED COLORS
$color_base_dark: darken($color_base, 10%);
$color_base_light: lighten($color_base, 10%);

$color_link_dark: saturate(darken($color_link, 12%), 10%);

$color_text_light: lighten($color_text, 50%);

@mixin invertcolor {
  background-color: $color_base;
  border-color: $color_base_light $color_base_light $color_base_dark $color_base_dark;
  color: $color_text_highlight;
}

@mixin invert-menu {
  background-color: $color_base;
  border-color: $color_base $color_base_dark $color_base $color_base_light !important;
  padding-left: 0;
  padding-right: 0;
  &>li {
    background-color: $color_base;
    border-color: $color_base_light $color_base_light $color_base_dark $color_base_dark;
    color: $color_text_highlight;
    &.active-trail, &.active, &:hover, &:active {
      background-color: $color_base_dark;
    }
    &>a {
      &:link, &:visited, &:hover, &:active {
        color: $color_text_highlight;
      }
      &.active, &.active-trail, &:hover, &:active {
        background-color: $color_base_dark;
      }
    }
  }
}

// Color mixins
@mixin link-highlight {
  color: $color_text_highlight;
  background-color: $color_base;
  &:link {
    color: $color_text_highlight;
    background-color: $color_base;
  }
  &:visited {
    color: $color_text_highlight;
    background-color: $color_base;
  }
  &.active,
  &:hover,
  &:active {
    background-color: $color_base_dark;
    border-color: $color_base_dark;
    color: $color_text_highlight;
  }
}

// Main colors
// ---------------------------------------------------------------------------------------------------------------------
body {
  color: $color_text;
  background: $color_bg;
}

h1, h2, h3, h4, h5, h6 {
  color: $color_title;
}

// links
body a {
  &:link, &:visited {
    color: $color_link;
  }
  &:hover, &:active {
    color: $color_link_dark;
  }
}

// Placeholders styling
::-webkit-input-placeholder {
  color: $color_grey;
}
:-moz-placeholder {
  color: $color_grey;
}
::-moz-placeholder {
  color: $color_grey;
}
:-ms-input-placeholder {
  color: $color_grey;
}

.form-item {
  label {
    color: $color_grey;
  }
}
.title {
  color: $color_link;
}
.description {
  color: $color_lightgrey;
}


// USER MENU
// ---------------------------------------------------------------------------------------------------------------------
.zone-user-wrapper {
  @include invertcolor;
  @include shadow-standard;
}

.zone-user-wrapper ul {
  @include invert-menu;
}

.site-name-slogan {
  color: $color_text;
  a:link, a:visited, a:hover, a:active {
    color: $color_text;
  }
}


// MAIN MENU
// ---------------------------------------------------------------------------------------------------------------------
.zone-menu-wrapper {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  background: $color_bg;
  border-color: $color_base_light;
}

// main menu styling
.navigation ul.links {
  li {
    a {
      color: $color_link;
      &:hover,
      &.active,
      &.active-trail {
        background: $color_base_light;
        color: $color_text_highlight;
      }
    }
    &:after,
    &:before {
      color: $color_base;
    }
  }
  &.main-menu {
    border-color: $color_base_light;
  }
  &.secondary-menu {
    @include invert-menu;
  }
}

.main-menu-no-tabs .navigation {
  ul.links.main-menu, 
  ul.links.secondary-menu {
    background-color: transparent;
    li {
      a {
        background-color: transparent;
        &:hover,
        &.active,
        &.active-trail,
        &:before, 
        &:after {
          color: $color_lightgrey;
        }
      }
    }
  }
}

// SECTION FOOTER
// ---------------------------------------------------------------------------------------------------------------------
footer.section-footer {
  background-color: $color_block_border;
  border-top: 1px solid $color_block_border;
  color: lighten(desaturate($color_text, 10%), 10%);
  a {
    color: lighten(desaturate($color_link, 10%), 10%);
    &:hover,
    &.active,
    &.active-trail {
      color: $color_link;
    }
  }
}

// SECTION CONTENT
// ---------------------------------------------------------------------------------------------------------------------
.section-content {
  background: $color_bg;
}

// Block styles (only for section content. For header we don't need this styles
.main-menu-block .navigation,
.section-content .block {
  border-color: $color_block_border;
  background-color: $color_block_border;
  .block-title {
    z-index: 2;
    &:after {
      border-right: 5px solid $color_base_light !important;
    }
  }
}

.headers-banner .section-content .block,
.block .headers-banner {
  .block-title {
    color: $color_bg;
    background: $color_base;
  }
}

.headers-colored .section-content .block,
.block.headers-colored {
  .block-title {
    @include invertcolor;
  }
}

// Restyle views
.view {
  .view-content {
    &>h3 {
      color: $color_text;
    }
    .views-row {
      border-color: $color_block_border;
    }
  }
}

// More link
a.more-link,
.more-link a {
  @include link-highlight;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.views_slideshow_cycle_main {
  // Titles
  .views-field-title,
  .views-field-name {
    a {
      color: $color_link !important;
      &:hover {
        color: $color_link_dark !important;
      }
    }
  }
}

.node {
  .field-type-taxonomy-term-reference {
    @include overflow;
    a {
      @include link-highlight;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    }
  }
}

// Tabs
ul.primary {
  li {
    a {
    }
  }
}


.node-links ul li a,
.comment-links ul li a {
  @include link-highlight;
}


// Calendar styling
.fullcalendar {
  .fc-header-title {
    color: $color_base;
    h2 {
      color: $color_base;
    }
  }
  .fc-content {
    // Calendar as it is
    table {
      border: 1px solid $color_block_border;
      background-color: $color_block_border;
      tr {
        td, th {
          border: 1px solid $color_block_border !important;
        }
        // Style as buttons
        th {
          color: $color_text-highlight;
          background: $color_base;
          border-bottom-color: $color_base_dark !important;
        }
        td {
          &.fc-other-month {
            color: $color_text_light;
          }
          .fc-day-number {
            color: $color_grey;
          }
          &.fc-today {
            background-color: $color_grey !important;
          }
        }
      }
    }
  }
  // BUTTONS
  .fc-button {
    @include link-highlight;
    background-image: none;
    &.ui-state-active {
      background: $color_base_dark;
    }
  }
  .ui-icon {
    &.ui-icon-circle-triangle-e {
      border-left: 6px solid $color_white;
    }
    &.ui-icon-circle-triangle-w {
      border-right: 6px solid $color_white;
    }
  }
  // EVENTS
  a.fc-event {
    @include link-highlight;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  }
  div.fc-event.bahaical {
    color: $color_text_light;
  }
}

// Inputs
textarea,
select,
input[type="file"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid $color_block_border;
  background-color: $color_bg;
  color: $color_text;
  &:focus {
    border-color: $color_base;
  }
}

body {
  button,
  input[type="reset"],
  input[type="submit"],
  input[type="button"] {
    background: transparent;
    @include link-highlight;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  }
}



// SKINR OPTION COLORS
// ---------------------------------------------------------------------------------------------------------------------
.block-bg-pagebg .section-content article.node-teaser,
.block-bg-pagebg .section-content .block, 
.section-content .block.block-bg-pagebg,
.block-bg-pagebg .section-footer, 
.section-footer.block-bg-pagebg
{
  background-color: $color_bg;
}
