@charset "UTF-8";

// Global stylesheet file
// ---------------------------------------------------------------------------------------------------------------------
@import "compass/css3";
@import "compass/typography";

@import "var";
@import "mixin";

// Import base styles
@import "base";

// USE CUSTOM FONTS
// ---------------------------------------------------------------------------------------------------------------------

// Custom fonts
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic);


// SECTION HEADER
// ---------------------------------------------------------------------------------------------------------------------

// TODO: Move all this style-colors to colors.css
// TODO: Take buttons, inputs from _base.scss

#section-header {
  margin-bottom: -1px;
}

#zone-user-wrapper {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  position: relative;
}

// User menu block
#block-system-user-menu {
  float: right;
  .block-title {
    display: none;
  }
  .content {
    .menu {
      @include horizontal-list(0);
      li {
        margin: 0;
        padding: 0;
        a {
          display: block;
          line-height: 30px;
          padding: 0 10px;
          font-weight: normal;
          &.active-trail,
          &.active,
          &:hover {

          }
        }
      }
    }
  }
}

.branding-data {
  padding: 40px 0;
  .logo-img {

  }
  .site-name-slogan {
    .site-name {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 8px;
      a {
        &:hover {

        }
      }
    }
  }
  .site-slogan {
    font-size: 20px;
    font-weight: normal;
  }
}


#zone-menu-wrapper {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  position: relative;
}

// main menu styling
#main-menu {
  display: block;
  margin: 0;
  li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    &.first {

    }
    &.last {

    }
    a {
      padding: 0 20px;
      @include title;
      font-weight: bold;
      font-size: 18px;
      display: block;
      line-height: 40px;
      &:hover,
      &.active {

      }
    }
  }
}

#secondary-menu {
  display: block;
  margin: 0;
  li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    &.first {
      a {
        border-left: none;
      }
    }
    &.last {
      a {

      }
    }
    a {
      padding: 0 20px;
      @include text;
      font-weight: normal;
      font-size: 12px;
      display: block;
      line-height: 30px;
      &:hover,
      &.active {

      }
    }
  }
}

// SECTION FOOTER
// ---------------------------------------------------------------------------------------------------------------------
#section-footer {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#block-menu-footer {
  float: right;
  .block-title {
    display: none;
  }
  .content {
    .menu {
      font-size: 12px;
      @include horizontal-list(0);
      li {
        padding: 0 8px;
        line-height: 12px;
        &.first {
          border-left: none;
        }
        &.last {

        }
        a {
          font-size: 11px;
          &.active,
          &:hover {

          }
        }
      }
    }
  }
}

// SECTION CONTENT
// ---------------------------------------------------------------------------------------------------------------------
#section-content {
  position: relative;
  z-index: 2;
  padding-top: 15px;
  padding-bottom: 100px;
}

// Block styles (only for section content. For header we don't need this styles
#section-content {
  .block {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6fwYAAtMBznRijrsAAAAASUVORK5CYII=");
    background-repeat: repeat;
    padding: 19px;
    margin-bottom: 20px;
    .block-title {
      @include transition(all, 0.3s);
      @include title;
      font-size: 20px;
      font-weight: bold;
      line-height: normal;
      padding: 7px 15px 7px 17px;
      margin-left: -25px;
      margin-bottom: 15px;
      display: inline-block;
      *display: inline;
      position: relative;
      z-index: 2;
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: -5px;
        bottom: -5px;
        border-left: 5px solid transparent;
        //border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
      }
      &:hover {

      }

      // Tip: color_link_lighten

    }
    .content {
      clear: both;
    }
  }
}

// Restyle views
.view {
  .view-content {
    // Bad... very bad... why it's not title? -_-
    &>h3 {
      margin: 0;
      font-size: 16px;
    }
    // Rows
    .views-row {
      @include overflow;
      margin-bottom: 3px;
      padding-bottom: 3px;
      &:first-child {

      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

// Increase spacing for main content
#region-content {
  .view {
    .view-content {
      // Rows
      .views-row {
        margin-bottom: 10px;
        padding-bottom: 10px;
        &:first-child {

        }
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

// More link
body a.more-link,
body .more-link a {
  @include transition(all, 0.3s);
  height: 30px;
  border: none;
  line-height: 30px;
  filter: none;
  text-shadow: none;
  @include text;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding-left: 11px;
  padding-right: 11px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 0;
  &.active,
  &:hover {

  }
}

.feed-icon {
  text-align: right;
}

// Big sliding block (slider)
#page {

  .block {
    &.block-recent-stories-block-bigslides {
      border: none;
      padding: 0;
      background: none;
      .block-title {
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        background: none;
        &:hover {
          background: none;
        }
        &:after {
          display: none;
        }
      }
    }
  }

}

// Restyle slider
.view-display-id-block_slides {
  .views-slideshow-controls-text {
    @include opacity(0);
    @include transition(all, 0.3s);
  }
  &:hover {
    .views-slideshow-controls-text {
      @include opacity(1);
    }
  }
  .views-slideshow-controls-text {
    span.views-slideshow-controls-text-previous {
      left: 0;
    }
    span.views-slideshow-controls-text-next {
      right: 0;
    }
  }
}

.view-display-id-block_bigslides {
  .views-slideshow-cycle-main-frame-row-item {
    margin: 0;
    padding: 0;
  }
  .views_slideshow_cycle_main {
    max-width: 10000px;
  }
  .views-slideshow-controls-text {
    @include opacity(0);
    @include transition(all, 0.3s);
  }
  &:hover {
    .views-slideshow-controls-text {
      @include opacity(1);
    }
  }
  // Titles
  .views-field-title,
  .views-field-name {
    margin: 0;
    padding: 0;
    background: url(../images/slider/slider_caption_bg.png) repeat 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .field-content {
      dispaly: block;
      padding: 15px 20px;
    }
    a {
      @include title;
      font-weight: bold;
      text-shadow: none;
      font-size: 24px;
      &:hover {
      }
    }
  }
}

.view-core-activities {
  .views-row {
    margin-top: 0;
    &.views-row-last {
      margin-bottom: 0;
      padding-bottom: 0;
      .views-field-field-main-image {
        padding-bottom: 0;
      }
    }
    &.views-row-first {
      .views-field-field-main-image {
        padding-top: 0;
      }
    }
    .views-field-field-main-image {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.views-slideshow-controls-text {
  span {
    top: 50%;
    a {
      width: 58px;
      height: 58px;
      background-image: url(../images/slider/slider_controls.png);
      background-repeat: no-repeat;
      @include no-font;
      display: block;
      position: relative;
      z-index: 500;
    }
  }
  span.views-slideshow-controls-text-previous {
    left: 10px;
    margin-top: -26px;
    a {
      background-position: 0 0;
    }
  }
  span.views-slideshow-controls-text-next {
    right: 10px;
    margin-top: -26px;
    a {
      background-position: 0 -58px;
    }
  }
}

.node {
  .node-title {
    margin-bottom: 0;
  }
  header {
    float: left;
    margin-right: 10px;
  }
  .bahai-user-submitted {

  }
  .content {
    padding-top: 10px;
  }

  &.node-video {

  }
  &.node-news {

  }
  &.node-gallery {

  }
  &.node-page {
    .content {
      padding-top: 0;
    }
  }
  .field-name-body {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.node {
  .field-name-field-main-image
  .field-name-field-gallery-images,
  .field-name-field-media {
    margin-bottom: 10px;
  }
  .field {
    margin-bottom: 10px;
  }
  .field-type-taxonomy-term-reference {
    @include overflow;
    .field-item {
      float: left;
      margin-right: 8px;
      margin-bottom: 8px;
      a {
        @include transition(all, 0.3s);
        height: 20px;
        border: none;
        line-height: 20px;
        filter: none;
        text-shadow: none;
        @include text;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 12px;
        font-weight: bold;
        display: block;
        padding-left: 8px;
        padding-right: 8px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
        border-radius: 0;
        &.active,
        &:hover {
        }
      }
    }
  }
}

.location-locations-wrapper {
  margin-bottom: 10px;
}


.field-name-field-main-image { margin:5px; }
.incubator-images-right .node-teaser .field-name-field-gallery-images,
.incubator-images-right .node-teaser .field-name-field-media,
.incubator-images-right .field-name-field-main-image {float:right; margin-left: 20px;}
.incubator-images-left .node-teaser .field-name-field-gallery-images,
.incubator-images-left .node-teaser .field-name-field-media,
.incubator-images-left .field-name-field-main-image {float:left; margin-right: 20px;}

// Search block
#search-block-form {
  position: relative;
  .form-item,
  .form-actions {
    margin: 0;
    padding: 0;
    float: left;
    clear: none;
  }
  input[type="submit"] {
    height: 30px;
    width: 30px;
    padding: 0;
    background-image: url(../images/search_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    @include no-font;
  }
}

// Tabs
ul.primary {
  padding: 0;
  margin: 20px 0 ;
  border: none !important;
  li {
    float: left;
    margin: 0;
    padding: 0;
    border: none !important;
    a {
      @include transition(all, 0.3s);
      height: 29px;
      border: none;
      line-height: 29px;
      filter: none;
      text-shadow: none;
      @include text;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 12px;
      font-weight: bold;
      display: inline-block;
      padding-left: 13px;
      padding-right: 13px;
      margin: 0;
      //box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
      border-radius: 0;
      &.active,
      &:hover {
        border-left: none;
        border-right: none;
        border-top: none;
      }

    }
  }
}

.node-links ul li a,
.comment-links ul li a {
  @include transition(all, 0.3s);
  height: 30px;
  border: none;
  line-height: 30px;
  filter: none;
  text-shadow: none;
  @include text;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding-left: 13px;
  padding-right: 13px;
  margin: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 0;
  float: none;
  &:hover {
    border-left: none;
    border-right: none;
    border-top: none;
  }
}

.node ul.inline,
.node ol.inline {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  li {
    padding: 0;
    margin-right: 10px;
  }
}

#block-incubator-content-review-incubator-content-review .content {
  font-size: 13px;
  line-height: 24px;
  .item-list {
    margin-bottom: 10px;
  }
}

// Calendar styling
.fullcalendar {
  .fc-header {
    .fc-header-title {
      h2 {
      }
    }
  }
  .fc-agenda-divider {
    border: none;
    height: 1px;
  }
  .fc-content {
    // Calendar as it is
    table {
      border-collapse: collapse;
      @include text;
      tr {
        td, th {
        }
        // Style as buttons
        th {
          font-size: 14px;
          font-weight: bold;
          margin: 0;
          //box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
        }
        td {
          &.fc-other-month {
            //color: $color_lightgrey;
          }
          .fc-day-number {
            padding: 0 5px;
            //color: $color_grey;
          }
          &.fc-today {
            //background: $color_border !important;
          }
        }
        th {
          &.fc-agenda-axis,
          &.fc-agenda-gutter {
            //background: $color_block_bg !important;
          }
        }
      }
    }
  }
  // Events
  .fullcalendar-content {

  }
  // BUTTONS
  .fc-button {
    @include transition(all, 0.3s);
    height: 30px;
    border: none;
    line-height: 30px;
    filter: none;
    text-shadow: none;
    @include text;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 0;
    float: none;
    margin-right: 1px;
    .fc-button-inner {
      overflow: visible;
    }
    .fc-button-content {
      height: 30px;
      line-height: 30px;
      padding: 0;
    }
    &:hover {
      border-left: none;
      border-right: none;
      border-top: none;
    }
    &.ui-state-active {

    }
    &.ui-state-disabled {
      @include opacity(0.8);
    }
  }
  .ui-icon {
    &.ui-icon-circle-triangle-e {
      background: none;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      width: 0;
      height: 0;
      margin-top: -70%;
    }
    &.ui-icon-circle-triangle-w {
      background: none;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      width: 0;
      height: 0;
      margin-top: -70%;
    }
  }
  // EVENTS
  .fc-event {
    font-size: 11px;
    font-style: normal;
  }
  a.fc-event {
    text-align: center;
    @include transition(all, 0.3s);
    border: none;
    filter: none;
    text-shadow: none;
    @include text;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 0;
    float: none;
    //margin-left: 5px;
    margin: 0;
    .fc-event-skin {
      border: none;
      background: transparent;
      * {
        background: none;
      }
    }
    &:hover {
      border-left: none;
      border-right: none;
      border-top: none;
    }
  }
}

.region-content-inner > .feed-icon {
  margin-bottom: 20px;
}

// Inputs
textarea,
select,
input[type="file"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @include transition(all, 0.3s);
  @include text;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  @include text;
  padding: 2px;
  box-shadow: none !important;
  height: 30px;
  @include box-sizing(border-box);
}

select {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
}

textarea {
  line-height: normal;
  height: auto;
  min-height: 80px;
}

.grippie {
  display: none;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include transition(all, 0.3s);
  height: 30px;
  border: none;
  line-height: 30px;
  filter: none;
  text-shadow: none;
  @include text;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 0;
}

article {
  display: block;
  clear: both;
}

#region-content .node-teaser {
  margin-bottom: 20px;
}

// SECTION SIDEBAR LEFT
// ---------------------------------------------------------------------------------------------------------------------

// SECTION SIDEBAR RIGHT
// ---------------------------------------------------------------------------------------------------------------------



