@charset "UTF-8";

// This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout).

@import "compass/css3";
@import "compass/typography";

@import "mixin";

html {
  font-size: 12px;
}

// MENUS
// =============================================================================

.zone-user-wrapper,
.zone-menu-wrapper {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  position: relative;
  display:block;
}

// User menu block
.zone-user-wrapper .block {
  float:right;
  .block-title {
    display:none;
  }
}

.zone-user-wrapper ul {
  @include horizontal-list(0);
  @include menu-borders;
  li {
    @include menu-borders;
    margin: 0;
    padding: 0;
    a {
      display: block;
      line-height: 2em;
      padding: 0 .8em;
      font-weight: normal;
    }
  }
}

// main menu styling
.navigation ul {
  display: block !important;
  margin: 0;
  li {
    display: table-cell;
    max-width: 9em;
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 135%;
    border-right-style: solid;
    border-left-style: solid;
    a {
      padding: 0 1.1em;
      @include title;
      font-weight: bold;
      display: block;
      line-height: 2.2em;
      span {
        display: inline-block;
        line-height: 1.2em !important;
        max-height: 2.4em;
        overflow: hidden;
        vertical-align: middle;
        text-align:center;
      }
    }
    &:first {
      border-left-style: none;
    }
    &:last {
      border-right-style: none;
    }
  }
  &.main-menu {
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
  &.secondary-menu {
    li {
      @include menu-borders;
      font-size: 100%;
      a {
        padding: 0 1.5em;
        @include text;
        font-weight: normal;
      }
    }
  }
}

// CALENDAR
// =============================================================================
