@charset "UTF-8";

// This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout).

@import "compass/css3";
@import "compass/typography";

@import "mixin";

html {
  font-size: 12px;
}

// MENUS
// =============================================================================

.zone-user-wrapper,
.zone-menu-wrapper {
  position: relative;
  display:block;
}

// User menu block
.zone-user-wrapper .block {
  float:right;
  .block-title {
    display:none;
  }
}

.zone-user-wrapper ul {
  @include horizontal-list(0);
  @include menu-borders;
  li {
    @include menu-borders;
    margin: 0;
    padding: 0;
    a {
      display: block;
      line-height: 2em;
      padding: 0 .8em;
      font-weight: normal;
    }
  }
}

// main menu styling
.navigation ul {
  display: block;
  margin: 0;
  li {
    display: table-cell;
    max-width: 9em;
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 135%;
    border-right-style: solid;
    border-left-style: solid;
    a {
      padding: 0 1.1em;
      @include title;
      font-weight: bold;
      display: block;
      line-height: 2.2em;
      span {
        display: inline-block;
        line-height: 1.2em !important;
        max-height: 2.4em;
        overflow: hidden;
        vertical-align: middle;
        text-align:center;
      }
    }
    &:first {
      border-left-style: none;
    }
    &:last {
      border-right-style: none;
    }
  }
  &.inline,
  &.links.inline {
    display: block;
  }
  &.main-menu {
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
  &.secondary-menu {
    li {
      @include menu-borders;
      font-size: 100%;
      a {
        padding: 0 1.5em;
        @include text;
        font-weight: normal;
      }
    }
  }
}

// NESTED DROP-DOWN MENUS
// =============================================================================
.navigation ul.main-menu li {
  ul.main-menu {
    @include transition(opacity, .3s);
    visibility: hidden;
    opacity: 0.2;
    padding: .8em 0;
    position: absolute;
    width: 12em;
    z-index: 5;
    border-style: none solid solid solid;
    border-width: 0 1px 1px 1px;
    &:hover {
      display: block;
    }
    li {
      display: block;
      float: none;
      font-size: 80%;
      max-width: 15em;
    }
    ul {
      border-style: solid;
      border-width: 1px;
      margin-left: 15em;
      margin-top: -2em;
      li {
        font-size: 100%;
        max-width: 12em;
        &.first {
          box-sizing: border-box;
          position: relative;
          left: -1px;
          border-left-width: 1px;
          border-left-style: solid;
        }
      }
    }
  }
  &:hover > ul.secondary-items {
    visibility: visible;
    opacity: 1;
  }
}

// CALENDAR
// =============================================================================
