@charset "UTF-8";

// This file will hold styles for all layouts using the same media query as the narrow grid

@import "compass/css3";
@import "compass/typography";

@import "mixin";

.branding-data {
  padding: 40px 0;
}

.site-name-slogan {
  font-size: 100%;
}

.logo-img {
  
  img {
    max-width: none;
  }
}

#breadcrumb {
  display: block;
  position: absolute;
  top: -1em;
  font-size: 9px;
  line-height: 1em;
  z-index: 1;
  text-align: right;
  width: 100%;
}

.view-display-id-block_bigslides {
  .views-field-name a,
  .views-field-title a {
    font-size: 200%;
  }
}
