@charset "UTF-8";
@import "compass/css3";

.main-block-no-styling .section-content {
  ul.primary {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .block.block-system-main {
    background: transparent;
    border: none;
    @include single-box-shadow(none);
  }
}
