/*
  Document   : skinr-page-shadows
  Created on : Sep 17, 2013, 2:43:46 PM
  Author     : david
  Description:
  Page shadow styles for Prograde theme
*/

.page-shadows-none {
  
}

.page-shadows-inset-header {
  
}

.page-shadows-raised-header {
  
}

.page-shadows-raised-page {
  
}
