@charset "UTF-8";
@import "compass/css3";

// Note: most of the .main-menu-block styles are kept with other .block declarations
.main-menu-block nav.navigation {
  padding: .2em 1.5em !important;
}

.main-menu-overlay {
  .region-menu-inner{
    margin-top: -2.2em;
  }
}

.main-menu-narrow-space {
  ul.main-menu li {
    margin-right: .4em !important;
    &.last {
      margin-right: 0 !important;
    }
  }
}

.main-menu-wide-space {
  ul.main-menu li {
    margin-right: 1.2em !important;
    &.last {
      margin-right: 0 !important;
    }
  }
}


.main-menu-narrow-items {
  .navigation ul li a {
    padding: 0 .2em;
  }
}


.main-menu-lighter {
  nav.navigation {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6fwYAAtMBznRijrsAAAAASUVORK5CYII=");
  }
  &.main-menu-full-width {
    nav.navigation {
      background-image: none;
    }
    .zone-menu-wrapper {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6fwYAAtMBznRijrsAAAAASUVORK5CYII=");
    }
  }
}

.main-menu-darker {
  nav.navigation {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiEAEAAB0AFz%2FQBbsAAAAASUVORK5CYII=");
  }
  &.main-menu-full-width {
    nav.navigation {
      background-image: none;
    }
    .zone-menu-wrapper {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiEAEAAB0AFz%2FQBbsAAAAASUVORK5CYII=");
    }
  }
}

.main-menu-full-width {
  .navigation ul.links.main-menu,
  .navigation ul.links.secondary-menu {
    border-bottom: none;
    background-image: none;
  }
  .zone-menu-wrapper {
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
}

.main-menu-dot-separators {
  ul.main-menu li {
    border: none;
    &:before {
      content: '\2022';
      margin-left: -.15em;
      float: left;
      line-height: 2.2em;
    }
    &.first:before {
      content: '';
    }
  }
  ul.secondary-menu li {
    border: none;
  }
  &.main-menu-narrow-space ul.main-menu li:before {
    margin-left: -.375em;
  }
  &.main-menu-wide-space ul.main-menu li:before {
    margin-left: -.75em;
  }
}

.main-menu-no-separators {
  ul.main-menu li,
  ul.secondary-menu li {
    border: none;
    &:before {
      content: "";
    }
  }
}

.main-menu-no-lineunder,
.main-menu-underline-items {
  .navigation ul.links.main-menu {
    border-bottom: none;
  }
  &.main-menu-full-width {
    .zone-menu-wrapper {
      border-bottom: none;
    }
  }
}

.main-menu-underline-items {
  ul.main-menu {
    li a {
      span {
        border-bottom: 2px solid;
      }
      &.active,
      &.active-trail {
        span {
          border-bottom: none;
        }
      }
    }
    .secondary-menu li,
    .secondary-menu li a span {
      border-bottom: none;
    }
  }
}

.main-menu-side-left,
.main-menu-side-center,
.main-menu-side-right {
  .region-menu-inner {
    margin-bottom: -1em;
  }
  .navigation {
    display: inline-block;
  }
}
.main-menu-side-left .region-menu-inner {
  text-align:left;
}
.main-menu-side-center .region-menu-inner {
  text-align:center;
}
.main-menu-side-right .region-menu-inner {
  text-align:right;
}
