/* Page elements */

/* font-size for all text starts at 100%; */
.typ-baskerville {
  font-family:"Ubuntu", sans-serif;
  font-size:90%;
}

.typ-baskerville p, 
.typ-baskerville ul, 
.typ-baskerville ol {
  line-height:1.3em;
}

.typ-baskerville h1, 
.typ-baskerville h2, 
.typ-baskerville h3, 
.typ-baskerville h4,
.typ-baskerville h5, 
.typ-baskerville h6 {
  font-family:"Libre Baskerville", serif;
  font-weight:bold;
  margin-top:1.2em;
  margin-bottom:.8em;
}
.typ-baskerville h1#page-title {
  font-variant:small-caps;
  letter-spacing:.05em;
  font-size:169%;
}

.typ-baskerville h1, .typ-baskerville h2.site-name {font-size:142%;}
.typ-baskerville h2 {font-size:130%;}
.typ-baskerville h3 {font-size:122%;}
.typ-baskerville h4 {font-size:114%;}
.typ-baskerville h5 {font-size:108%;}
.typ-baskerville h6 {font-size:104%;}

/* Lists */
.typ-baskerville ul {list-style:disc outside; margin-left:1.2em;}
.typ-baskerville ol {list-style:decimal outside; margin-left:1.5em;}

/* Blockquote */
.typ-baskerville blockquote:before {font-family:"Libre Baskerville", serif;}

/* Branding */
  
  /* use this line for font size of the header group */
  .typ-baskerville hgroup.site-name-slogan {}

  .typ-baskerville .site-name {
    font-family:"Libre Baskerville", sans-serif;
    font-weight:normal;
  }
  .typ-baskerville .site-slogan {
    font-family:"Ubuntu", sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size:130%;
  }

/* Blocks */
.typ-baskerville h2.block-title {
  font-family:"Libre Baskerville", sans-serif;
}
.typ-baskerville aside .block h2.block-title {
  font-variant:small-caps;
}
.typ-baskerville #section-content #region-content .block h2.block-title {
  font-style:italic;
}

.typ-baskerville aside .block,
aside .block.typ-baskerville,
.typ-baskerville #zone-footer .block,
#zone-footer .block.typ-baskerville {
  
}

/* Teasers */
.typ-baskerville .node-teaser {
  font-size:90%;
}
.typ-baskerville .node-teaser h2.node-title {
  font-size:100%;
}

.typ-baskerville .node-teaser h1, .typ-baskerville aside .block h1,  
.typ-baskerville .node-teaser h2, .typ-baskerville aside .block h2,  
.typ-baskerville .node-teaser h3, .typ-baskerville aside .block h3,  
.typ-baskerville .node-teaser h4, .typ-baskerville aside .block h4, 
.typ-baskerville .node-teaser h5, .typ-baskerville aside .block h5,  
.typ-baskerville .node-teaser h6, .typ-baskerville aside .block h6 {
  font-size:90%;
}

/* Menu */
.typ-baskerville #zone-menu {
  font-weight:normal;
  font-size:95%;
}
.typ-baskerville #zone-menu ul.main-menu li a {
  max-width:10em;
}
.typ-baskerville #zone-menu ul.main-menu {
  margin-bottom:-4px;
}
.typ-baskerville #zone-menu ul.secondary-menu {
  font-size:90%;
}

/* Calendar events */
.typ-baskerville a.fc-event {
  font-family:"Ubuntu", sans-serif;
}
.typ-baskerville .ui-widget-header {
  font-family:"Ubuntu", sans-serif;
  padding:.3em;
}
