/* Page elements */

/* font-size for all text starts at 100%; */
.typ-bree {
  font-family:"Imprima", sans-serif;
  font-size:92%;
}

.typ-bree p, 
.typ-bree ul, 
.typ-bree ol {
  line-height:1.3em;
}

.typ-bree h1, 
.typ-bree h2, 
.typ-bree h3, 
.typ-bree h4,
.typ-bree h5, 
.typ-bree h6 {
  font-family:"Bree Serif", serif;
  font-weight:normal;
  margin-top:1em;
  margin-bottom:.4em;
}

.typ-bree h1, .typ-bree h2.site-name {font-size:145%;}
.typ-bree h2 {font-size:136%;}
.typ-bree h3 {font-size:127%;}
.typ-bree h4 {font-size:119%;}
.typ-bree h5 {font-size:114%;}
.typ-bree h6 {font-size:110%;}

.typ-bree h1#page-title {
  font-size:160%;
  font-weight:normal;
  letter-spacing:.1em;
}

/* Lists */
.typ-bree ul {list-style:disc outside; margin-left:1.3em;}
.typ-bree ol {list-style:decimal outside; margin-left:1.5em;}

/* Branding */
  
  /* use this line for font size of the header group */
  .typ-bree hgroup.site-name-slogan {
    font-size:75%;
  }

  .typ-bree .site-name {
    font-weight:normal;
  }
  .typ-bree .site-slogan {
    font-family:"Imprima", sans-serif;
    font-weight:normal;
    font-style:italic;
  }

/* Blocks */
.typ-bree h2.block-title {
  font-family:"Bree Serif", serif;
  font-size:120%;
  font-variant:small-caps;
}

.typ-bree aside h1, 
.typ-bree aside h2, 
.typ-bree aside h3, 
.typ-bree aside h4,
.typ-bree aside h5, 
.typ-bree aside h6 {
  font-size:100%;
}

/* Teasers */
.typ-bree .node-teaser {
  font-size:90%;
}
.typ-bree .node-teaser h2.node-title {
  font-size:120%;
}

/* Menu */
.typ-bree #zone-menu {
  font-weight:normal;
  font-size:110%
}
.typ-bree #zone-menu ul.secondary-menu {
  font-size:88%;
}

/* Calendar events */
.typ-bree a.fc-event {
  font-family:"Imprima", sans-serif;
}
.typ-bree .ui-widget-header {
  font-family:"Bree Serif", serif;
  padding:.3em;
  font-weight:normal;
}
.typ-bree .fc-button-content {
  font-family:"Imprima", sans-serif;
}
