/* Page elements */

/* font-size for all text starts at 100%; */
.typ-example {
  font-family:Arial, Verdana, sans-serif;
}

.typ-example p, 
.typ-example ul, 
.typ-example ol {
  line-height:1.3em;
}

.typ-example h1, 
.typ-example h2, 
.typ-example h3, 
.typ-example h4,
.typ-example h5, 
.typ-example h6 {
  font-family:Georgia, "Times New Roman", serif;
  font-weight:bold;
  margin-top:.5em;
  margin-bottom:.8em;
}

.typ-example h1, .typ-example h2.site-name {font-size:132%;}
.typ-example h2 {font-size:124%;}
.typ-example h3 {font-size:116%;}
.typ-example h4 {font-size:108%;}
.typ-example h5 {font-size:104%;}
.typ-example h6 {font-size:100%;}

.typ-example h1#page-title {}

/* Lists */
.typ-example ul {list-style:disc outside; margin-left:1.5em;}
.typ-example ol {list-style:decimal outside; margin-left:1.5em;}

/* Blockquote */
.typ-example blockquote:before {content:'“';font-size:280%;margin-right:0.2em;float:left;font-family:Georgia, serif;}

/* Branding */
  
  /* use this line for font size of the header group */
  .typ-example hgroup.site-name-slogan {}

  .typ-example .site-name {
    font-family:Arial, Verdana, sans-serif;
    font-weight:normal;
  }
  .typ-example .site-slogan {
    font-weight:normal;
    font-style:italic;
  }

/* Blocks */
.typ-example h2.block-title {
  font-family:Arial, Verdana, sans-serif;
  font-size:120%;
}
.typ-example aside .block,
aside .block.typ-example,
.typ-example #zone-footer .block,
#zone-footer .block.typ-example {
  
}

/* Teasers */
.typ-example .node-teaser {
  font-size:90%;
}
.typ-example .node-teaser h2.node-title {
  font-size:100%;
}

.typ-example .node-teaser h1, 
.typ-example .node-teaser h2, 
.typ-example .node-teaser h3, 
.typ-example .node-teaser h4,
.typ-example .node-teaser h5, 
.typ-example .node-teaser h6 {
  font-size:90%;
}

/* Menu */
.typ-example #zone-menu {
  font-weight:bold;
}
.typ-example #zone-menu ul.secondary-menu {
  font-size:80%;
}

/* Calendar events */
.typ-example a.fc-event {}
.typ-example .ui-widget-header {}
.typ-example .fc-button-content {}
