/* Page elements */

/* font-size for all text starts at 100%; */
.typ-montserrat {
  font-family:"Pontano Sans", sans-serif;
}

.typ-montserrat p, 
.typ-montserrat ul, 
.typ-montserrat ol {
  line-height:1.3em;
}

.typ-montserrat h1, 
.typ-montserrat h2, 
.typ-montserrat h3, 
.typ-montserrat h4,
.typ-montserrat h5, 
.typ-montserrat h6 {
  font-family:"Montserrat", sans-serif;
  font-weight:bold;
  font-variant:small-caps;
  margin-top:.9em;
  margin-bottom:.4em;
}

.typ-montserrat h1, .typ-montserrat h2.site-name {font-size:142%;}
.typ-montserrat h2 {font-size:134%;}
.typ-montserrat h3 {font-size:126%;}
.typ-montserrat h4 {font-size:118%;}
.typ-montserrat h5 {font-size:114%;}
.typ-montserrat h6 {font-size:110%;}

/* Lists */
.typ-montserrat ul {list-style:disc outside; margin-left:1.5em;}
.typ-montserrat ol {list-style:decimal outside; margin-left:1.5em;}

/* Blockquote */
.typ-montserrat blockquote:before {font-family:"Montserrat", Georgia, serif;}

/* Branding */
  
  /* use this line for font size of the header group */
  .typ-montserrat hgroup.site-name-slogan {
    font-size:70%;
  }

  .typ-montserrat .site-name {
    font-weight:normal;
    font-variant:normal;
  }
  .typ-montserrat .site-slogan {
    font-family:"Pontano Sans", sans-serif;
    font-weight:normal;
    font-style:normal;
    font-variant:small-caps;
    font-size:140%;
  }

/* Blocks */
.typ-montserrat h2.block-title {
  font-family:"Montserrat", sans-serif;
  font-size:120%;
  font-weight:normal;
}

.typ-montserrat aside h1, 
.typ-montserrat aside h2, 
.typ-montserrat aside h3, 
.typ-montserrat aside h4,
.typ-montserrat aside h5, 
.typ-montserrat aside h6 {
  font-size:90%;
  font-weight:normal;
}

.typ-montserrat aside .block,
aside .block.typ-montserrat,
.typ-montserrat #zone-footer .block,
#zone-footer .block.typ-montserrat {
  
}

/* Teasers */
.typ-montserrat .node-teaser {
  font-size:90%;
}
.typ-montserrat .node-teaser h2.node-title {
  font-size:120%;
  margin-top:.4em;
}

/* Menu */
.typ-montserrat #zone-menu {
  font-family:"Montserrat", sans-serif;
  font-weight:normal;
  font-size:100%;
  font-variant:small-caps;
}
.typ-montserrat #zone-menu ul.secondary-menu {
  font-size:90%;
}

/* Calendar events */
.typ-montserrat a.fc-event {
  font-family:"Pontano Sans", sans-serif;
}
.typ-montserrat .ui-widget-header {
  font-family:"Montserrat", sans-serif;
  font-weight:normal;
  font-variant:small-caps;
}

/* Core Activities block */
.typ-montserrat .view-core-activities {
  font-family:"Montserrat", sans-serif;
  font-variant:small-caps;
}