/* Page elements */

/* font-size for all text starts at 100%; */
.typ-robotoworld {
  font-family:"Roboto", sans-serif;
  font-size:94%;
}

.typ-robotoworld p, 
.typ-robotoworld ul, 
.typ-robotoworld ol {
  line-height:1.3em;
}

.typ-robotoworld h1, 
.typ-robotoworld h2, 
.typ-robotoworld h3, 
.typ-robotoworld h4,
.typ-robotoworld h5, 
.typ-robotoworld h6 {
  font-family:"Roboto", sans-serif;
  font-weight:bold;
  margin-top:.8em;
  margin-bottom:.4em;
}

.typ-robotoworld h1, .typ-robotoworld h2.site-name {font-size:132%;}
.typ-robotoworld h2 {font-size:124%;}
.typ-robotoworld h3 {font-size:116%;}
.typ-robotoworld h4 {font-size:108%;}
.typ-robotoworld h5 {font-size:104%;}
.typ-robotoworld h6 {font-size:100%;}

.typ-robotoworld h1#page-title {
  font-weight:normal;
  font-style:italic;
  font-size:164%;
}

/* Lists */
.typ-robotoworld ul {list-style:disc outside; margin-left:1.2em;}
.typ-robotoworld ol {list-style:decimal outside; margin-left:1.5em;}

/* Blockquote */
.typ-robotoworld blockquote:before {font-family:Georgia, serif;}

/* Branding */
  
  /* use this line for font size of the header group */
  .typ-robotoworld hgroup.site-name-slogan {}

  .typ-robotoworld .site-name {
    font-weight:normal;
    font-variant:small-caps;
  }
  .typ-robotoworld .site-slogan {
    font-weight:normal;
    font-style:normal;
    font-size:135%;
  }

/* Blocks */
.typ-robotoworld h2.block-title {
  font-family:"Roboto", sans-serif;
  font-size:120%;
}
.typ-robotoworld aside h1, 
.typ-robotoworld aside h2, 
.typ-robotoworld aside h3 {
  font-size:105%;
}
.typ-robotoworld aside h4,
.typ-robotoworld aside h5, 
.typ-robotoworld aside h6 {
  font-size:100%;
}
.typ-robotoworld aside .block,
aside .block.typ-robotoworld,
.typ-robotoworld #zone-footer .block,
#zone-footer .block.typ-robotoworld {
  
}

/* Teasers */
.typ-robotoworld .node-teaser {
  font-size:90%;
}
.typ-robotoworld .node-teaser h2.node-title {
  font-size:120%;
}

.typ-robotoworld .node-teaser h1, 
.typ-robotoworld .node-teaser h2, 
.typ-robotoworld .node-teaser h3, 
.typ-robotoworld .node-teaser h4,
.typ-robotoworld .node-teaser h5, 
.typ-robotoworld .node-teaser h6 {
  font-size:110%;
}

/* Menu */
.typ-robotoworld #zone-menu {
  font-weight:normal;
  font-size:100%;
}
.typ-robotoworld #zone-menu ul.secondary-menu {
  font-size:90%;
}
.typ-robotoworld #zone-menu ul.main-menu {
  margin-bottom:-4px;
}

/* Calendar events */
.typ-robotoworld a.fc-event {
  font-family:"Roboto", sans-serif;
}
.typ-robotoworld .ui-widget-header {
  font-family:"Roboto", sans-serif;
  padding:.3em;
}
.typ-robotoworld .fc-button-content {
  font-family:"Roboto", sans-serif;
}
