/* Page elements */

/* font-size for all text starts at 100%; */
.typ-vollkorn {
    font-family:"Raleway", sans-serif;
    font-weight:300;
}

.typ-vollkorn p, 
.typ-vollkorn ul, 
.typ-vollkorn ol {
  line-height:1.3em;
}

.typ-vollkorn h1, 
.typ-vollkorn h2, 
.typ-vollkorn h3, 
.typ-vollkorn h4,
.typ-vollkorn h5, 
.typ-vollkorn h6 {
  font-family:"Vollkorn", serif;
  font-weight:bold;
  margin-top:.9em;
  margin-bottom:.4em;
}

.typ-vollkorn h1, .typ-vollkorn h2.site-name {font-size:132%;}
.typ-vollkorn h2 {font-size:124%;}
.typ-vollkorn h3 {font-size:116%;}
.typ-vollkorn h4 {font-size:108%;}
.typ-vollkorn h5 {font-size:104%;}
.typ-vollkorn h6 {font-size:100%;}

.typ-vollkorn h1#page-title {
  font-family:"Raleway", sans-serif;
  font-size:172%;
  font-weight:300;
}

/* Lists */
.typ-vollkorn ul {list-style:disc outside; margin-left:1.4em;}
.typ-vollkorn ol {list-style:decimal outside; margin-left:1.5em;}

/* Blockquote */
.typ-vollkorn blockquote:before {font-family:"Vollkorn", Georgia, serif;}

/* Branding */
  
  /* use this line for font size of the header group */
  .typ-vollkorn hgroup.site-name-slogan {}

  .typ-vollkorn .site-name {
    font-weight:normal;
    padding-top:.5em;
  }
  .typ-vollkorn .site-slogan {
    font-family:"Raleway", sans-serif;
    font-weight:normal;
    font-style:italic;
    font-size:140%;
  }

/* Blocks */
.typ-vollkorn h2.block-title {
  font-family:"Raleway", sans-serif;
  font-size:120%;
}
.typ-vollkorn aside .block,
aside .block.typ-vollkorn,
.typ-vollkorn #zone-footer .block,
#zone-footer .block.typ-vollkorn {
  
}

/* Teasers */
.typ-vollkorn .node-teaser {
  font-size:90%;
}
.typ-vollkorn .node-teaser h2.node-title {
  font-size:120%;
}

.typ-vollkorn .node-teaser h1, 
.typ-vollkorn .node-teaser h2, 
.typ-vollkorn .node-teaser h3, 
.typ-vollkorn .node-teaser h4,
.typ-vollkorn .node-teaser h5, 
.typ-vollkorn .node-teaser h6 {
  font-size:90%;
}

/* Menu */
.typ-vollkorn #zone-menu {
  font-weight:bold;
  font-size:100%
}
.typ-vollkorn #zone-menu ul.main-menu li a {
  max-width:8em;
}
.typ-vollkorn #zone-menu ul.secondary-menu {
  font-size:88%;
}

/* Calendar events */
.typ-vollkorn a.fc-event {
  font-family:"Raleway", sans-serif;
}
.typ-vollkorn .ui-widget-header {
  font-family:"Vollkorn", serif;
  padding:.5em .3em .3em;
}
.typ-vollkorn .fc-button-content {
  font-family:"Raleway", sans-serif;
}
