/* $Id$ */

#content .view-activities-group-selectors .views-field-name {
  border-right: 1px dotted lightgray;
  float: left;
  margin: 2px 8px 2px 0;
  padding-right: 8px;
}

#content .view-activities-group-selectors .views-row-last .views-field-name {
  border-right:none;
}

.node-full .field-name-field-event-info .field-item {font-weight:bold;}

.fc-event-inner {font-size:80%; max-height:3em;}
