/* $Id$ */

form#system-theme-settings #edit-adaptive .form-item label {
  width:60px;
  float:left;
  text-align:right;
}

form#system-theme-settings #edit-adaptive .form-item input {
  float:left;
  margin:0 6px;
}

form#system-theme-settings #edit-adaptive .form-item {
  float:left; 
  margin-right: 19px;
  min-width:200px;
}