/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

div.zone {font-size:110%;}

/* Banner area : 988x185 (including padding) */
#zone-header {height:85px;}
.banner-short #zone-header {height:60px;}
.banner-tall #zone-header {height:95px;}
.banner-x-tall #zone-header {height:110px;}

/* Navigation */
nav.navigation {font-size:96%;}
#zone-menu ul.main-menu {margin-bottom:-5px;}

/* Main content */
article.node p, article.node ul, article.node ol {line-height:1.6em;}

/* Calendar */
.bahaical.holyday:after{content:url(img/lg-holyday.png); opacity:0.4;}

/* Core activities view */
#block-views-core-activities-block-1 .views-field.views-field-field-main-image {
  display:table-cell;
}

/* Calendar */
.fc .fc-header-space {
  padding-left:4px;
}
.fc-button-content {
  font-size:65%;
}
