/* This file will hold styles that are loaded using the same media query as the wide grid. */

div.zone {font-size:118%;}

/* Banner area : 1228x230 (including padding) */
#zone-header {height:97px;}
.banner-short #zone-header {height:67px;}
.banner-tall #zone-header {height:117px;}
.banner-x-tall #zone-header {height:147px;}

/* Navigation */
nav.navigation {font-size:106%;}
#zone-menu ul.main-menu {margin-bottom:-6px;}
