
/* BLOCKS */

  /* No borders, and Headers only */
  .blocks-noborders, .blocks-headersonly,
  .blocks-noborders article.node-teaser, .blocks-headersonly article.node-teaser,
  .blocks-noborders .block-inner, .blocks-headersonly .block-inner,
  .blocks-noborders nav.mobile-navigation, .blocks-headersonly nav.mobile-navigation
  {
    border-style:none;
  }
  .blocks-noborders.block,
  .blocks-noborders .block {background:transparent;}
  
  /* Square */
  .blocks-square,
  .blocks-square .block {
    border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;
  }
  
  /* Rounded Small */
  .blocks-roundedsmall,
  .blocks-roundedsmall .block,
  .blocks-roundedsmall .block-inner,
  .blocks-roundedsmall article.node-teaser {
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  }
  
  /* Rounded Large */
  .blocks-roundedlarge,
  .blocks-roundedlarge .block,
  .blocks-roundedlarge .block-inner,
  .blocks-roundedlarge article.node-teaser {
    border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
  }
  
  /* Diamond Left */
  .blocks-diamondlt,
  .blocks-diamondlt .block,
  .blocks-diamondlt .block-inner,
  .blocks-diamondlt article.node-teaser {
    border-radius: 0px 15px; -moz-border-radius: 0px 15px; -webkit-border-radius: 0px 15px;
  }
  
  /* Diamond Right */
  .blocks-diamondrt,
  .blocks-diamondrt .block,
  .blocks-diamondrt .block-inner,
  .blocks-diamondrt article.node-teaser {
    border-radius: 15px 0px; -moz-border-radius: 15px 0px; -webkit-border-radius: 15px 0px;
  }
  
  /* Underline */
  .blocks-underline article.node-teaser,
  .blocks-underline .block-inner {
    border-style: none none solid;
  }
  