
.sitename-softglow .site-name-slogan {
  text-shadow: -2px -2px 2px white;
}

.sitename-softshadow .site-name-slogan {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.sitename-strongglow .site-name-slogan {
  text-shadow: -2px -2px 5px white, -2px -2px 3px white;
}

.sitename-strongshadow .site-name-slogan {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

.sitename-raised .site-name-slogan {
  text-shadow: -3px 6px 5px rgba(0, 0, 0, .5);
}
