
/* MENUS */

  /* Small */
  .menustyle-small nav.navigation {
    margin-top:4px;
  }
  .menustyle-small #zone-menu ul.main-menu li,
  .menustyle-small #zone-menu ul.main-menu li a {
    height:2.2em;
  }
  .menustyle-small #zone-menu ul.main-menu li a span {
    max-height:2.2em;
  }
  
  /* Tiny */
  .menustyle-tiny nav.navigation {
    margin-top:4px;
  }
  .menustyle-tiny #zone-menu ul.main-menu li,
  .menustyle-tiny #zone-menu ul.main-menu li a {
    height:1.3em;
  }
  .menustyle-tiny #zone-menu ul.main-menu li a span {
    max-height:1.1em;
  }

  
  /* Fullbar */
  /* must come before linear so that the margins are reset */
  .menustyle-fullbar #zone-menu {
    margin-top:12px;
  }
  .menustyle-fullbar nav.navigation {
    margin-top:-6px;
  }
  .menustyle-fullbar.menustyle-transparent nav.navigation {
    margin-top:0;
  }
  .menustyle-fullbar #zone-menu ul.main-menu {
    padding:0;
  }
  
  /* Fullbar + Full width header (allows color in colors.css) */
  .menustyle-fullbar.misc-fullwidthheader #zone-menu-wrapper {
    position:relative;
    z-index:1;
  }
  
  /* Linear */
  .menustyle-linear #zone-menu {
    margin-top:6px;
  }
  .menustyle-linear nav.navigation {
    margin-top:0;
  }
  .menustyle-linear #zone-menu ul.main-menu {
    padding:0;
  }
  .menustyle-linear #zone-menu ul.main-menu li {
    margin:0;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
  }
  
  /* See-thru */
  .menustyle-seethru #zone-menu-wrapper {
    opacity:0.65;
  }
  
  /* Transparent */
  .menustyle-transparent #zone-menu ul.main-menu li,
  .menustyle-transparent #zone-menu ul.main-menu li.active,
  .menustyle-transparent #zone-menu ul.main-menu li.active-trail,
  .menustyle-transparent #zone-menu ul.secondary-menu {
    background:transparent;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }
  
  /* No shadow */
  .menustyle-noshadow #zone-menu ul.main-menu li {
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }

  /* Square */
  .menustyle-square #zone-menu ul.main-menu li,
  .menustyle-square #zone-menu ul.secondary-menu {
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
  }

  /* Big Round Right */
  .menustyle-bigroundrt #zone-menu ul.main-menu li,
  .menustyle-bigroundrt #zone-menu ul.secondary-menu  {
    border-top-right-radius:15px;
    -moz-border-top-right-radius:15px;
    -webkit-border-top-right-radius:15px;
  }

  /* Big Round Left */
  .menustyle-bigroundlt #zone-menu ul.main-menu li,
  .menustyle-bigroundlt #zone-menu ul.secondary-menu  {
    border-top-left-radius:15px;
    -moz-border-top-left-radius:15px;
    -webkit-border-top-left-radius:15px;
  }
