
/* Full width header */
.misc-fullwidthheader #header-banner-image {
  width:100%; margin:0; padding:0; margin-top:-35px;
}
.misc-fullwidthheader #zone-user-wrapper {
  position:relative;z-index:100;
}

.misc-fullwidthheader #section-content {
  background:white;
  position:relative;
}

/* Transparent header */
.misc-transparentheader #header-banner-image {
  background-color:transparent !important;
}

/* More block padding */
.misc-padblocks aside .block,
aside .block.misc-padblocks,
.misc-padblocks #zone-triptych .block,
#zone-triptych .block.misc-padblocks {
  padding:9px 19px;
}
.misc-padblocks #block-search-form.block {
  padding:0;
}

/* Extended footer */
/* Extended footer must be in colors.css */

/* Black triptych text */
/* White triptych text */
.misc-blacktriptych #zone-triptych .block,
.misc-blacktriptych #zone-triptych .block-inner,
.misc-blacktriptych #zone-triptych .block h2.block-title
{
  border:none;
  background-color:transparent !important;
  color:black;
  border-color:black;
}
.misc-whitetriptych #zone-triptych .block,
.misc-whitetriptych #zone-triptych .block-inner,
.misc-whitetriptych #zone-triptych .block h2.block-title
{
  border:none;
  background-color:transparent !important;
  color:white;
  border-color:white;
}
.misc-blacktriptych #zone-triptych .block h2.block-title,
.misc-whitetriptych #zone-triptych .block h2.block-title
{
  border-bottom:1px solid;
}

.misc-extendedfooter.misc-blacktriptych #zone-footer .block,
.misc-extendedfooter.misc-blacktriptych #zone-footer .block-inner,
.misc-extendedfooter.misc-blacktriptych #zone-footer .block h2.block-title
.misc-extendedfooter.misc-blacktriptych #zone-footer {
  color:black;
  border-color:black;
}
.misc-extendedfooter.misc-whitetriptych #zone-footer .block,
.misc-extendedfooter.misc-whitetriptych #zone-footer .block-inner,
.misc-extendedfooter.misc-whitetriptych #zone-footer .block h2.block-title
.misc-extendedfooter.misc-whitetriptych #zone-footer {
  color:white;
  border-color:white;
}

.misc-showpostyear .node .submitted span.submitted-year {display:inherit;}
