/* $Id$ */

/* Node form */
fieldset.node-form-options .form-item,
fieldset.node-form-revision-information .form-item { margin:0; padding:0; margin-bottom:3px;}
fieldset.node-form-options .form-type-checkbox,
fieldset.node-form-revision-information .form-type-checkbox {float:right; clear:right;}

/* Workbench */
.page-admin-workbench .admin.my-workbench .left {margin-bottom:30px;}

.page-admin-workbench .views-field-title {line-height:1em; font-weight:bold; font-size:114%;}

.page-admin-workbench .views-field-title ul {display:inline; margin:0 0 0 9px;}
.page-admin-workbench .views-field-title li {display:inline; font-size:70%; font-weight:normal;}

.page-admin-workbench .views-field-title .log-message {font-size:70%; color:gray; font-weight:normal;}

.page-admin-workbench .views-field-title .node-edit-link,
.page-admin-workbench .views-field-title .status {font-size:70%; margin-left:1em;}

.page-admin-workbench .views-field-title .status.new.True,
.page-admin-workbench .views-field-title .status.revision.False {display:none;}

.page-admin-workbench .views-field-title .status.Published {color:limegreen;}

.view-incubator-workbench-editor .views-field-title .status.Draft {color:gray;}
.view-incubator-workbench-editor .views-field-title .status.revision.Draft {color:#B98080;}
.view-incubator-workbench-editor .views-field-title .status.Editing.Queue {color:tomato;}

.view-incubator-workbench-author .views-field-title .status.Draft {color:tomato;}
.view-incubator-workbench-author .views-field-title .status.Editing.Queue {color:#A5B990;}

/* Block */
#block-incubator-content-review-incubator-content-review .content {font-size:80%; line-height:1.2em;}
#block-incubator-content-review-incubator-content-review ul, #block-incubator-content-review-incubator-content-review li {margin-bottom:0;}
