/* $Id$ */

#incubator-feature-settings fieldset {
  width:48.5%; min-width:300px; height:120px; float:left; margin:5px .5%; padding:0; 
  background-position: right top; background-repeat:no-repeat;
  border-color:darkgray;
  text-shadow: 0 2px 4px white, 0 -2px 4px white, 2px 0 4px white, -2px 0 4px white;
}

#incubator-feature-settings fieldset.not-enabled {
  background-color:lightgray;
}

#incubator-feature-settings fieldset.incubator-main {
}

#incubator-feature-settings fieldset .fieldset-legend {
  font-size:180%; text-transform:none; margin-left:20px; z-index:1;
}

#incubator-feature-settings fieldset.not-enabled .fieldset-legend {
  color:#7d7d7d;
}

#incubator-feature-settings fieldset .fieldset-description {
  position:absolute; z-index:1; bottom:15px; margin-right:20px; 
  line-height:1.2em; font-size:12px;
}

#incubator-feature-settings fieldset .fieldset-description p.content-info {
  margin: 0 0 6px; color:green; font-weight:bold; font-size:109%;
}

#incubator-feature-settings .form-item label.option {
  display:block; width:1px; text-indent:-9999px; overflow:hidden;
}

#incubator-feature-settings .form-item input {
  position:absolute; z-index:1; top:9px; left:9px; height:24px; width:24px;
}

#incubator-feature-settings #edit-submit {
  clear:both; margin:40px;
}

#incubator-feature-settings .incubator-feature-mask {
  position:absolute; right:0; bottom:0; height:100%; width:100%;
  background:url(feature-enabled-mask.png) right top no-repeat;
}

#incubator-feature-settings fieldset.not-enabled .incubator-feature-mask {
  background-image:url(feature-disabled-mask.png);
}

#incubator-feature-settings fieldset .changes-not-saved {
  display:none;
  position:absolute; top:-10px; left:4px; font-weight:bold; color:red;
}

#incubator-feature-settings fieldset.changed .changes-not-saved {
  display:block;
}
